.section {
  display: flex;
  width: 100%;
  padding: 20px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sectionTitle {
  margin: 0;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--color-gray-900);
}
.grid {
  display: flex;
  align-items: stretch;
  gap: 16px;
  width: 100%;
}

.card {
  display: flex;
  padding: 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.eventName {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray-900);
}

.progress {
  width: 100%;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.amountText {
  margin: 0;
  color: var(--color-gray-500);
}

.overText {
  margin: 0;
  color: var(--color-danger-text);
  font-weight: 500;
}